<div class="container bg-body-tertiary" style="margin-top: 0;">
     <div style="color: rgba(0, 0, 0, 0);"><a>Ваш прозрачный текст</a></div>

<div class="card" style="max-width: 98%; margin-left: 12px; margin-top: 30px; border: 0; ">
  <div class="card-body">
    <blockquote class="blockquote mb-0"  style="border: 0; ">
      <p>В мире, где каждая минута на счету, наш сервис делает каждый ваш заказ ценным. Мы заботимся о ваших потребностях, чтобы вы могли заботиться о своих делах.</p>
      <footer class="blockquote-footer">Кто-то известный в <cite title="Заголовок источника">Заголовке источника</cite></footer>
    </blockquote>
  </div>
</div>

<div class="py-5 px-0 text-center bg-body-tertiary" style="margin-bottom: 30px;">
    <h1 class="mb-3">Heading</h1>
    <h4 class="mb-3">Subheading</h4>
    <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Call to action</a>
</div>
<div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  
</div>
</div>
