<div class="container bg-body-tertiary" style="margin-top: 0;">
     <div style="color: rgba(0, 0, 0, 0);"><a>Ваш прозрачный текст</a></div>

<div class="card" style="max-width: 98%; margin-left: 12px; margin-top: 30px; border: 0; ">
  <div class="card-body">
    <blockquote class="blockquote mb-0"  style="border: 0; ">
      <p>В мире, где каждая минута на счету, наш сервис делает каждый ваш заказ ценным. Мы заботимся о ваших потребностях, чтобы вы могли заботиться о своих делах.</p>
      <footer class="blockquote-footer">Кто-то известный в <cite title="Заголовок источника">Заголовке источника</cite></footer>
    </blockquote>
  </div>
</div>


<div class="py-5 px-0 text-center bg-body-tertiary" style="margin-bottom: 30px;">
    <h1 class="mb-3">Ваш персональный помощник в покупках</h1>
    <h4 class="mb-3">Мы делаем процесс покупки простым и удобным</h4>
    <a id="cta-button" data-mdb-ripple-init class="btn btn-primary" href="/start" role="button">Начать покупки сейчас</a>
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
  <img src="_f47b2bae-e3a2-47d5-a0f8-3413ffadfb9e.jpg" alt="" style="width: 25%; border-radius: 20px;">
  <div style="padding-left: 20px;">
    <h5>Точность в каждой секунде</h5>
    <p class="card-text"><big>Мы ценим ваше время и гарантируем соблюдение всех сроков. Ваш заказ будет выполнен точно в срок, без задержек. Мы понимаем, насколько важно для вас получить свой заказ вовремя. Наша команда профессионалов работает неустанно, чтобы обеспечить эффективность на каждом этапе процесса. Мы стремимся к превосходству в обслуживании клиентов и всегда готовы идти дополнительную милю, чтобы удовлетворить ваши потребности.</big></p>
    
  </div>
  
</div>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
  <div style="padding-left: 20px;">
    <h5>Любой товар в один клик</h5>
    <p class="card-text"><big>Независимо от того, что вы ищете, мы можем помочь вам его купить. Просто предоставьте нам ссылку, и мы займемся всем остальным.</big></p>
  </div>
  <img src="34343.png" alt="" style="width: 25%; border-radius: 20px;">
</div>

<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 70px;">
  <img src="3232.jpg" alt="" style="width: 25%; border-radius: 20px;">
  <div style="padding-left: 20px;">
    <h5>Мгновенные обновления</h5>
    <p class="card-text"><big>Мы предоставляем быстрые и точные обновления о статусе вашего заказа. Вы всегда будете в курсе, на каком этапе доставки находится ваш товар. Мы понимаем, насколько важно для вас быть в курсе процесса доставки, поэтому мы делаем все возможное, чтобы предоставить вам самую актуальную информацию.</big></p>
  </div>
  
</div>




</div>
